body{
    /* 1 */
    --display1: none;
    --bg1: white;
    --color1: black;

    /* 2 */
    --display2: none;
    --bg2: white;
    --color2: black;

    /* 3 */
    --display3: none;
    --bg3: white;
    --color3: black;

    /* 4 */
    --display4: none;
    --bg4: white;
    --color4: black;

    /* 5 */
    --display5: none;
    --bg5: white;
    --color5: black;

    /* 6 */
    --display6: none;
    --bg6: white;
    --color6: black;

    /* 7 */
    --display7: none;
    --bg7: white;
    --color7: black;

    /* 8 */
    --display8: none;
    --bg8: white;
    --color8: black;

    /* 9 */
    --display9: none;
    --bg9: white;
    --color9: black;

    /* 10 */
    --display10: none;
    --bg10: white;
    --color10: black;
}

button.func{
    width: 570px;
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.321);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 0.3s;
}

button.func:focus{
    outline: none;
}

/* 1 */

button.func1{
    background: var(--bg1);
    color: var(--color1);
}

.func-content1{
    display: var(--display1);
}

.active-func1{
    --display1: block;
    --bg1: #D1ECF1;
    --color1: rgba(0, 17, 255, 0.852);
}

/* 2 */
button.func2{
    background: var(--bg2);
    color: var(--color2);
}

.func-content2{
    display: var(--display2);
}

.active-func2{
    --display2: block;
    --bg2: #D1ECF1;
    --color2: rgba(0, 17, 255, 0.852);
}

/* 3 */
button.func3{
    background: var(--bg3);
    color: var(--color3);
}

.func-content3{
    display: var(--display3);
}

.active-func3{
    --display3: block;
    --bg3: #D1ECF1;
    --color3: rgba(0, 17, 255, 0.852);
}

/* 4 */
button.func4{
    background: var(--bg4);
    color: var(--color4);
}

.func-content4{
    display: var(--display4);
}

.active-func4{
    --display4: block;
    --bg4: #D1ECF1;
    --color4: rgba(0, 17, 255, 0.852);
}

/* 5 */
button.func5{
    background: var(--bg5);
    color: var(--color5);
}

.func-content5{
    display: var(--display5);
}

.active-func5{
    --display5: block;
    --bg5: #D1ECF1;
    --color5: rgba(0, 17, 255, 0.852);
}

/* 6 */
button.func6{
    background: var(--bg6);
    color: var(--color6);
}

.func-content6{
    display: var(--display6);
}

.active-func6{
    --display6: block;
    --bg6: #D1ECF1;
    --color6: rgba(0, 17, 255, 0.852);
}

/* 7 */
button.func7{
    background: var(--bg7);
    color: var(--color7);
}

.func-content7{
    display: var(--display7);
}

.active-func7{
    --display7: block;
    --bg7: #D1ECF1;
    --color7: rgba(0, 17, 255, 0.852);
}

/* 8 */
button.func8{
    background: var(--bg8);
    color: var(--color8);
}

.func-content8{
    display: var(--display8);
}

.active-func8{
    --display8: block;
    --bg8: #D1ECF1;
    --color8: rgba(0, 17, 255, 0.852);
}

/* 9 */
button.func9{
    background: var(--bg9);
    color: var(--color9);
}

.func-content9{
    display: var(--display9);
}

.active-func9{
    --display9: block;
    --bg9: #D1ECF1;
    --color9: rgba(0, 17, 255, 0.852);
}

/* 10 */
button.func10{
    background: var(--bg10);
    color: var(--color10);
}

.func-content10{
    display: var(--display10);
}

.active-func10{
    --display10: block;
    --bg10: #D1ECF1;
    --color10: rgba(0, 17, 255, 0.852);
}




